<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"
            crossorigin="anonymous"></script>
    <title>Thomas Flucke</title>
    <script type="text/javascript">
      function jsonToQueryString(json) {
          return '?' + 
              Object.keys(json).map(function(key) {
                  return encodeURIComponent(key) + '=' +
                      encodeURIComponent(json[key]);
              }).join('&');
      }

      angular.module('SmartResume', []).controller('MyController', ['$scope', function($scope) {
          $scope.params = {};
          $scope.newKey = "";
          $scope.newValue = 0;
          $scope.addParam = function() {
              $scope.params[$scope.newKey] = $scope.newValue;
              $scope.newKey = "";
              $scope.newValue = 0;
              document.getElementById("frame").src = "resume.html" + jsonToQueryString($scope.params);
          };
      }]);
    </script>
  </head>
  <body data-ng-app="SmartResume" data-ng-controller="MyController">
    <table>
      <tr data-ng-repeat="(key, value) in params">
        <td><input type="text" data-ng-model="key" /></td>
        <td><input type="number" data-ng-model="value" step="1" /></td>
      </tr>
      <tr>
        <td><input type="text" data-ng-model="newKey" /></td>
        <td><input type="number" step="1" data-ng-model="newValue" data-ng-change="addParam($event)" /></td>
      </tr>
    </table>
    <iframe id="frame" style="width: 8in; height: 10.5in;" src="resume.html" />
  </body>
</html>
